.session-3__container {

    & .session-3__title {
        text-align: start;
    }
}

.carousel-cell {
    counter-increment: gallery-cell;
    width: 464px;
    height: 75vh;
    margin-left: 1em;

  };

  
  .carousel-cell-image {
    display: block;
    height: 600px;
    margin: 0 auto;
    width: 464px;
    opacity: 1;
    -webkit-transition: opacity 0.4s;
            transition: opacity 0.4s;
}

.carousel-cell:first-of-type {
    margin-left: -7.5em;
}
  
/* cell number */
.carousel-cell:before {
    display: block;
}
