

%bg-white,
.bg-white { 
    background-color: var(--color-white);
}

%bg-gray,
.bg-gray { 
    background-color: var(--color-gray-2);
}

.bg-header { 

    @media (min-width: break($s)) {
        background: transparent;
    }
}